body {
	display: flex;
	align-items: center;
	justify-content: center;
}

div#root {
	width: 100%;
	margin: 0 20px;
}

.hideContent {
	display: none;
}

.chooseCarField {
	text-align: center;
	margin: 20px 0;
}

.showContent {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	text-align: center;
}
.loanAndLeaseButtons {
	display: flex;
	border: 1px solid #7a9ccb;
	border-radius: 5px;
}

.LoanButton,
.LeaseButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 50px;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	background-color: white;
	color: black;
}

.active {
	background-color: #4670ac;
	color: whitesmoke;
}

.inputFields {
	width: 150px;
	height: 30px;
	text-align: center;
}

.errorShow {
	display: flex;
	color: red;
	justify-content: center;
}

span.inline {
	display: flex;
	justify-content: center;
	align-items: center;
}

.link {
	text-decoration: none;
	color: black;
}

.link:hover {
	color: midnightblue;
}

.marginAdjest {
	margin: 5 0;
}

.allInfo {
	margin-top: 25px;
	border: 1px solid goldenrod;
	border-radius: 10px;
	background-color: antiquewhite;
}
